@import "tailwindcss";

/* ==============================
   THEME TOKENS (custom variables)
   ============================== */
/* @theme {
  --font-heading: var(--font-americana);
  --font-body: var(--font-basis);
} */
html {
  @apply scroll-smooth;
  font-family: var(--font-basis);
}

body {
  @apply antialiased bg-[#EFEBE2] text-[#343E35];
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-americana);
}

@keyframes slide-up {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}
